{% extends 'base.html' %}
{% block title %}Cadastro | PhysioManage{% endblock %}
{% block content %}
<section class="card border-0 shadow-sm card-narrow">
    <div class="card-body">
    <h2 class="h4">Cadastro de fisioterapeuta</h2>
    <p class="section-desc">Preencha os dados abaixo para criar sua conta e começar a gerenciar seus atendimentos.</p>
    <form method="post" class="row g-3">
        {% csrf_token %}
        <fieldset class="col-12 col-lg-6">
            <legend>Dados de acesso</legend>
            {{ user_form.as_p }}
        </fieldset>
        <fieldset class="col-12 col-lg-6">
            <legend>Dados profissionais</legend>
            {{ perfil_form.as_p }}
        </fieldset>
        <div class="col-12">
            <button type="submit" class="btn btn-primary">Criar conta</button>
        </div>
    </form>
    </div>
</section>
{% endblock %}
